@media screen and (max-width: 576px){
    .header-section{
        flex-direction: column;
        align-items: center;
        
        
       
    }

    .nav-container{
        flex-direction: column;
        margin-top: 10px;
    }


    .nav-items{
            flex-direction: column;
            align-items: center;
            margin-top: 50px;
            gap: 10px;
   }

   /* navbar media query ends here */

}

    