@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    font-family: 'Mulish', sans-serif;
}

/* navbar style starts here */
.header-section {
    max-width: 1250px;
    margin: 0 auto;
    /* border: 2px soli d blue; */
    display: flex;
    align-items: center;



}

.nav-bar {
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    gap: 20px;
    width: 50%;

}

.nav-title {
    color: #131318;
    font-size: 36px;
    font-weight: 800;

}

.beyond-text {
    color: #FF5400;
    font-size: 36px;
    font-weight: 800;
    padding-left: 10px;

}

.nav-items {
    /* border: 2px solid green; */
    width: 50%;
    display: flex;
    justify-content: space-between;
    

}

.text-home .orange-color {
    color: #FF5400;
    font-size: 18px;
    font-weight: 700;

}

.nav-items a {
    color:  #424247;
    font-size: 18px;
    font-weight: 400;

}
